@import "../../styles";

#article-outer {
  display: flex;
  justify-content: center;
}

.article {
  max-width: 900px;
  background: white;
  padding: 4em 5em;
  margin: 2em;
  box-shadow: 0px 2px 4px 0px #0000005e;
  border-radius: 2px;

  @include respond-to(phone) { 
    padding: 2em;
    margin: 1em;
  }
  @include respond-to(tablet) { 
    padding: 3em;
    margin: 2em;
  }
} 
