/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

// my global css:
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$backgroundWhite: #fff;
$linkBlue: #69A4F4;
$defaultText: #2F323F;

$bold: 700;
$medium: 500;
$normal: 400;

$phi: 1.6180339887;

$white: #ffffff;
$blackShadow: rgba(0, 0, 0, 0.38);
$lightBlackShadow: rgba(0, 0, 0, 0.25);
$lightnessIncrement: 7;

$break-small: 480px;
$break-medium: 800px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small) and (max-width: $break-medium) { @content; }
  }
}


html {
  background: #f5f5f5;
  color: $defaultText;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', 'Arial';
  color: $defaultText;
  font-size: 14px;

  @include respond-to(phone) { 
    font-size: 13px;
  }
  @include respond-to(tablet) { 
    font-size: 13px;
  }
}

h1 {
  font-size: $phi * 3/2 + em;
  color: $defaultText;
  margin-bottom: 1em;

  @include respond-to(phone) {  
    font-size: $phi + em;
  }
  @include respond-to(tablet) {
    font-size: $phi + em;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: $phi + em;

  @include respond-to(phone) {  
    font-size: 16px;
  }
  @include respond-to(tablet) {
    font-size: 18px;
  }
}

p {
  line-height: $phi + em;
  margin-bottom: $phi/2 + em;
}

code {
  background: whitesmoke;
  padding: 0.1em 0.4em;
  margin: 0em 0.2em;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

