
<nav @explainerAnim> 
  <a id="blog-link" class="nav-link" routerLink="/blog/">
    <span class="category-name">
      <span class="link-title">Blog</span>
      <p>A few stories and advice that I felt could benefit from being written.</p>
    </span>
  </a>
  <!-- <a id="projects-link" class="nav-link" routerLink="/">
    <span class="category-name">
      <span class="link-title">Projects</span>
      <p>A space for personal projects. Nothing to see here, yet.</p>
    </span>
  </a> -->
</nav>
